/* EXERCICE 1 */
#wrapper{
    display: flex;
    justify-content: center;
}
.carre{
    width:200px;
    height:200px;
    background-color: brown;
    font-family:'Lucida Sans Regular';
    font-size: 3em;
    text-align: center;
    margin: auto;
    line-height:200px;
}

/* EXERCICE 2 */
#wrapperTwo{
    width:100%;
    display: flex;
    justify-content: center;
    gap:10px
}

.carreInitial{
    width:200px;
    height:200px;
    margin:10px;
}

.backgroundInitial{
    background-color:goldenrod;
}

.backgroundRouge{
    background-color:rgb(218, 32, 32);
    text-align: center;
    color: white;
    line-height:200px;
    
}
.backgroundVert{
    background-color:rgb(48, 218, 32);
    text-align: center;
    color: white;
    line-height:200px;
}

.backgroundBleu{
    background-color:rgb(32, 88, 218);
    text-align: center;
    color: white;
    line-height:200px;
}

.backgroundViolet{
    background-color:rgb(92, 7, 132);
    text-align: center;
    color: white;
    line-height:200px;
}

/* EXERCICE 3 */
.carreExo3{
    width:200px;
    height:200px;
    background-color: rgb(42, 165, 89);
    margin:10px;
    text-align: center;
}

.wrapper3{
    width : 500px;
    display: flex;
    flex-wrap: wrap;
    margin:auto
}

.transform{
    transform:scale(-10%) rotate(10deg);
    background-color: red;
}

/* EXERCICE 4 */
i{
    color:white;
    margin: auto;
    font-size: 25px;
}

.container{
    width:60px;
    height: 60px;
    display: flex;
    justify-content: center;
    margin: auto 10px auto 10px;
    
   
}

.darkBlue{
    background-color: rgb(22, 22, 119);
}

.clearBlue{
    background-color: rgb(0, 149, 255);
}

.red{
    background-color: rgb(163, 21, 73);
}

.wrapperExo4{
    width:300px;
    height:100px;
    justify-content: center;
    margin: auto;
    text-align: center;
    background-color: rgb(199, 198, 198);
    display: grid;
}

#text{
    margin:auto;
    width:100%;
    font-family: 'Lucida Sans';
    color: white;
}

.iElements{
    display: flex;
}

.active{
    border-radius: 5px;
    box-shadow: 1px 12px 7px -4px rgba(140, 140, 140, 1);
}

.brandName{
    color:white;
    display: none;
}