/* EXERCICE 1 */
#wrapper{
    display: flex;
    justify-content: center;
}
.carre{
    width:200px;
    height:200px;
    background-color: brown;
    font-family:'Lucida Sans Regular';
    font-size: 3em;
    text-align: center;
    margin: auto;
    line-height:200px;
}

/* EXERCICE 2 */

#wrapperEx2{
    display: flex;
    width : 400px; 
    margin:auto;
    justify-content: center;
    gap:10px;
}

#wrapperBisEx2{
    margin:auto;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.carreEx2{
    width:80px;
    height:80px;
}

.carreBtnEx2{
    width:80px;
    height:80px;
    
}

.neutre{
    background-color: antiquewhite;
}

.rougebck{
    background-color: red;
}

.vertbck{
    background-color:green;
}

.bleubck{
    background-color: blue;
}

.yellowbck{
    background-color: yellow;
}

/* EXERCICE 3 */
.active{
    border-radius: 5px;
    box-shadow: 1px 12px 7px -4px rgba(50, 44, 44);
}

.carreExo3{
    width:200px;
    height:200px;
    background-color: rgb(42, 165, 89);
    margin:10px;
    text-align: center;
}

.wrapper3{
    width : 500px;
    display: flex;
    flex-wrap: wrap;
    margin:auto
}

.transform{
    transform : scale(10%);
    transform : rotate(360deg);
    transition:0.9s;
    background-color: red;
    
}



/* EXERCICE 4 */
i{
    color:white;
    font-size: 25px;
    vertical-align: middle;
    margin:10px auto 0px auto;
}

.iElementsWrapper{
    display: flex;
}

.container{
    width:60px;
    height: 60px;
    display: inline;
    margin: auto 10px auto 10px;
}

.brand{
    color:white;
    margin:5px auto auto auto;
    display: none;
}

.brand.clicked{
    display: block;
}

.facebook{
    background-color: rgb(22, 22, 119);
}

.twitter{
    background-color: rgb(0, 149, 255);
}

.instagram{
    background-color: rgb(163, 21, 73);
}

.wrapperExo4{
    width:300px;
    height:150px;
    justify-content: center;
    margin: auto;
    text-align: center;
    background-color: rgb(233, 233, 233);
    display: grid;
}

#followUs{
    margin:auto;
    width:100%;
    font-family: "Nunito", sans-serif;
    color: white;
}

/* EXERCICE 5 */

body{
    background-color: rgb(226, 225, 225);
}

#wrapperExo5{
    display:block;
}

.wrapperExo5Bis{
    display:block;
}

.conteneurExo5{
    height : 100px; 
    width: fit-content;
    height: fit-content;
    margin:10px auto 10px auto;
    padding:20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 12px 12px 13px -5px rgba(129, 117, 117)
}

.citation{
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    font-size:20px;
    text-align: center;
}

.auteur{
    font-family:'Times New Roman', Times, serif;
    font-style: normal;
    font-size:16px;
    text-align: end;
    margin:20px auto 0px auto;
}

.fa-star{
    color:rgb(255, 234, 0);
    margin:0px;
}

.favoris{
    display:flex;
    align-items: baseline;
    justify-content: flex-start;
    margin:0px 0px 20px 0px;
    font-family: "Nunito", sans-serif;
    font-size: 12px;
}

.favorisBis{
    display:flex;
    align-items: baseline;
    justify-content: flex-start;
    margin:20px 0px 0px 0px;
    font-family: "Nunito", sans-serif;
    font-size: 12px;
}